.set-new-goal {
    background: #5fcf80;
    color: #fff;
    border-radius: 50px;
    padding: 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
    border: 0;
}

.set-new-goal:focus {
    outline: none;
}

.board-button-div {
    margin-bottom: 1%;
}