.boardDetail-text {
    width: 100%;
    border-radius: 3px;
    border-color: #5fcf80;
    margin-bottom: 2%;
}

#send {
    background: #5fcf80;
    color: #fff;
    border-radius: 50px;
    padding: 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
    border: 0;
}

#send:focus {
    outline:none;
}