<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lima.web.board.dao.BoardDao">

    <resultMap type="Board" id="BoardMap">
        <id column="board_no" property="boardNo"/>
        <result column="member_no" property="memberNo"/>
        <result column="title" property="title"/>
        <result column="contents" property="contents"/>
        <result column="goal" property="goal"/>
        <result column="goal_ham" property="goalHam"/>
        <result column="goal_date" property="goalDate"/>
        <result column="is_success" property="isSuccess"/>
        <result column="regi_date" property="regiDate"/>
    </resultMap>

    <resultMap type="Board" id="BoardMemberMap">
        <id column="board_no" property="boardNo"/>
        <result column="member_no" property="memberNo"/>
        <result column="title" property="title"/>
        <result column="contents" property="contents"/>
        <result column="goal" property="goal"/>
        <result column="goal_ham" property="goalHam"/>
        <result column="goal_date" property="goalDate"/>
        <result column="is_success" property="isSuccess"/>
        <result column="regi_date" property="regiDate"/>

        <collection property="member" ofType="Member">
            <id column="member_no" property="memberNo"/>
            <result column="id" property="id"/>
            <result column="name" property="name"/>
            <result column="ham" property="ham"/>
            <result column="email" property="email"/>
        </collection>
    </resultMap>

    <select id="findAllByMember" parameterType="int" resultMap="BoardMemberMap">
        select
        b.board_no
        , b.member_no
        , b.title
        , b.contents
        , b.goal
        , b.goal_ham
        , b.regi_date
        , m.member_no
        , m.name
        , m.id
        , m.ham
         from board b
         left join member m on b.member_no = m.member_no
         where b.member_no = #{memberNo}
    </select>

    <select id="findAll" resultMap="BoardMemberMap">
        select
        b.board_no
        , b.member_no
        , b.title
        , b.contents
        , b.goal
        , b.goal_ham
        , b.regi_date
        , m.member_no
        , m.name
        , m.id
        , m.ham
         from board b
         left join member m on b.member_no = m.member_no
    </select>

    <insert id="insert" parameterType="Board">
        insert into board
        (
        title
        , contents
        , goal
        , goal_ham
        , goal_date
        , member_no
        , regi_date
        )
        VALUE
        (
        #{title}
        , #{contents}
        , #{goal}
        , #{goalHam}
        , #{goalDate}
        , #{memberNo}
        , now()
        )
    </insert>

    <select id="findBy" parameterType="int" resultMap="BoardMap">
        select
        *
        from board
        where board_no = ${boardNo}
    </select>

    <delete id="deleteByBoardNo" parameterType="int">
        delete from board
        where
        board_no = #{boardNo};
    </delete>
</mapper>
