<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lima.web.member.dao.MemberDao">

    <resultMap type="Member" id="MemberMap">
        <id column="member_no" property="memberNo"/>
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="email" property="email"/>
        <result column="password" property="password"/>
        <result column="ham" property="ham"/>
    </resultMap>

    <select id="findAll" resultMap="MemberMap">
        select * from member
    </select>

    <insert id="insert" parameterType="Member">
        insert into member
        (
        name
        , id
        , password
        , email
        , ham
        )
        value
        (
        #{name}
        , #{id}
        , password(#{password})
        , #{email}
        , 10000
        )
    </insert>

    <select id="findByUserIdPassword" parameterType="map" resultMap="MemberMap">
        select
        *
        from member
        where id = #{id} and password = password(#{password})
    </select>

    <select id="checkUserId" parameterType="String" resultType="int">
        select
        count(*)
		from member
		where id = #{id}
    </select>

    <select id="checkEmail" parameterType="String" resultType="int">
        select
        count(*)
        from member
        where email = #{email};
    </select>

    <select id="findBy" parameterType="int" resultMap="MemberMap">
        select
        *
        from member
        where member_no = #{memberNo}
    </select>

</mapper>
