<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lima.web.studygroup.dao.StudyGroupDao">

    <resultMap type="StudyGroup" id="StudyGroupMap">
        <id column="study_board_no" property="studyNo"/>
        <result column="member_no" property="memberNo"/>
        <result column="title" property="title"/>
        <result column="contents" property="contents"/>
        <result column="end_date" property="endDate"/>
        <result column="reg_date" property="regDate"/>
        <result column="people" property="people"/>
        <result column="max_people" property="maxPeople"/>
        <result column="img" property="img"/>
    </resultMap>

    <resultMap type="StudyGroup" id="StudyGroupMemberMap">
        <id column="study_board_no" property="studyNo"/>
        <result column="member_no" property="memberNo"/>
        <result column="title" property="title"/>
        <result column="contents" property="contents"/>
        <result column="end_date" property="endDate"/>
        <result column="reg_date" property="regDate"/>
        <result column="people" property="people"/>
        <result column="max_people" property="maxPeople"/>
        <result column="img" property="img"/>

        <collection property="member" ofType="Member">
            <id column="member_no" property="memberNo"/>
            <result column="id" property="id"/>
            <result column="name" property="name"/>
            <result column="ham" property="ham"/>
            <result column="email" property="email"/>
        </collection>
    </resultMap>

    <select id="findAll" resultMap="StudyGroupMemberMap">
        select
        b.study_board_no
             , b.member_no
             , b.title
             , b.contents
             , b.end_date
             , b.reg_date
             , b.people
             , b.img
             , b.max_people
             , m.member_no
             , m.name
        from study_board b
                 left join member m on b.member_no = m.member_no
    </select>

    <insert id="insert" parameterType="StudyGroup">
        INSERT INTO study_board
        (
         img
        , title
        , contents
        , max_people
        , member_no
        , reg_date
        , end_date
        )
        VALUES (
                #{img}
               , #{title}
               , #{contents}
               , #{maxPeople}
               , #{memberNo}
               , now()
               , #{endDate}
               )
    </insert>

    <select id="countStudy" resultType="int">
        SELECT COUNT(*)
        FROM study_board
    </select>
</mapper>
